<h3 class='duplication-title'><%= duplication[:description] %></h3>
<div class='duplication-files'>
  <ul>
    <% duplication[:files].each do |file| %>
      <li><%= "#{file[:file]}.#{file[:line]}" %></li>
    <% end %>
  </ul>
</div>