<html>
  <head>
    <title>Analyze your ruby code</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

  </head>
  <body>
    <div id='main'>
      <%= yield %>
    </div>
  </body>
</html>